body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 24px;
}

h1 {
  margin-bottom: 8px;
}

#message {
  margin-bottom: 20px;
}


.boards { 
  display: flex;  /*le due board stanno affiancate con flex  */
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.board { /* la griglia 8x8 */
  display: grid;
  grid-template-columns: repeat(8, 40px);
  gap: 4px;
}

.cell { /* la cella */
  width: 40px;
  height: 40px;
  background-color: #1e90ff; /* #1e90ff; (colore mare) */
  border: 1px solid #333;
  cursor: pointer;
}


.cell.ship-1 {
  background-image: url("../assets/nosfondo1.png");
}

.cell.ship-3 {
  background-image: url("../assets/nosfondo3.png");
}

.cell.ship-5 {
  background-image: url("../assets/nosfondo5.png");
}

.cell.ship-1,.cell.ship-3, .cell.ship-5 { /* se una cella ha la classe .ship mostra l immagine come sfondo*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: white;
}

.board.hide-ships .cell.ship-1 {
  background-image: none;  /* se una board ha hide-ships allora le ship non mostrano immagine */
}

.board.hide-ships .cell.ship-3 {
  background-image: none; 
}

.board.hide-ships .cell.ship-5 {
  background-image: none;  
}

.board.hide-ships .cell.ship-1.hit {
  background-image: url("../assets/nosfondo1.png"); /* pero se una nave è colpita allora l immagine torna visibile anche se la board è hide*/
}

.board.hide-ships .cell.ship-3.hit {
  background-image: url("../assets/nosfondo3.png"); /* pero se una nave è colpita allora l immagine torna visibile anche se la board è hide*/
}

.board.hide-ships .cell.ship-5.hit {
  background-image: url("../assets/nosfondo5.png"); /* pero se una nave è colpita allora l immagine torna visibile anche se la board è hide*/
}

#reset {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
}